body{
    width : 1300px;
}
.grid{
    width : 360px;
    height : 360px;
    background : #ccc;
    margin : 20px;
    padding : 10px;
    float : left;
}

.box{
    width : 100px;
    height : 100px;
    background : linear-gradient(150deg, blue ,cyan);
    margin : 10px;
    float : left;
}

.w2{width : 220px;} .w3{width : 340px;}
.h2{height : 220px;} .h3{height : 340px;}

.bgcolor1{background : linear-gradient(150deg, green ,aquamarine);}


.mg_top1{margin-top: 130px;}
.mg_top2{margin-top: 250px;}

.mg_left1{margin-left: 130px;}
.mg_left2{margin-left: 250px;}

.right{float : right;}


