.container{
    margin : 0 30px;
    border : 3px solid #000;
    max-width : 1000px;
    margin : 50px auto 0;
    overflow : hidden;
}
/*calc를 사용한 레이아웃*/
.box{
    height : 200px;
    width : calc(25% - 20px);
    float : left;
    transition : all .4s ease;
    margin : 0 10px;
}

.box1, .nemo1 .inner{background-color : lightgreen;}
.box2, .nemo2 .inner{background-color : lightseagreen;}
.box3, .nemo3 .inner{background-color : skyblue;}
.box4, .nemo4 .inner{background-color : midnightblue;}




/*calc를 사용하지 않은 레이아웃*/



.wrap{
    max-width : 1000px; 
    margin : 50px auto 0;
    border : 3px solid #000;
    overflow : hidden;
    /*padding : 20px 10px;
    box-sizing : border-box;*/
}
.nemo_wrap{
    margin : 0 -10px;
}
.nemo{
    height : 200px;
    width : 25%;
    float : left;
    transition : all .4s ease;
}

.inner{
    height : 100%;
    margin : 0 10px;
    padding : 10px;
    box-sizing : border-box;
}






@media screen and (max-width : 768px){
    .box{width : calc(50% - 20px); }
    .nemo{width : 50%; margin : 10px 0px;}
}

@media screen and (max-width : 480px){
    .box{width : 100%; margin : 0px;}
    .nemo{width : 100%; margin : 0px;}
    .inner{margin : 0px; padding :0px;}
    .wrap{padding : 20px 0px;}
}