*{margin:0;padding:0;}
a{text-decoration: none;color : #999;}
body{color : #999;}
li{list-style:none;}

/*Common*/
.float_left{float : left;}
.float_right{float : right;}

.container{width : 100%; vertical-align: middle;}
.wraper{width : 1200px; margin : 0 auto;}

.color1{background-color : yellowgreen;}
.color2{background-color : aquamarine;}




/*===============header================*/
/*---Top---*/
.header_top{height : 45px; line-height:45px; width : 100%; border-bottom : 1px solid #ddd; font-size : 13px;}


/*top-left*/
.header_top span{display:inline-block;}
.header_top .call{padding-right:20px;}
.header_top .mail{padding-left:20px;}

/*top-right*/
.header_top .float_right div{float:left; height:45px;}
.header_top .float_right div a{padding : 0 30px;}
.header_top .float_right div:hover ul{top : 0px; opacity : 1;}

.header_top ul{position:relative; top : 20px; opacity : 0; border:1px solid #ccc; border-radius:5px;transition:all .2s ease;}
.header_top li{height : 30px; line-height : 30px;padding : 0 30px;}

.header_top .account{}

.header_top .money{}

.header_top .language{}

/*---body---*/

.header_body{padding : 40px 0;overflow:hidden;}

.header_body .banner{float:left;}

.header_body .search{}

.header_body .cart{height :50px; width : 200px;padding-left: 0 30px;float:right;}


