*{margin:0;padding:0;}
a{text-decoration: none;color : #999;}
body{color : #999;font-family: 'Roboto', sans-serif;}
li{list-style:none;}

/*Common*/
.float_left{float : left;}
.float_right{float : right;}

.container{width : 100%;height:5000px; vertical-align: middle;margin:0;padding:0;}
.wraper{width : 1200px; margin : 0 auto;}
.clearfix {overflow: auto;}
.right_padding{padding-right:0;}

.color_blue{color : royalblue;}
.color{background-color : aquamarine;}

.fa{padding-right : 5px;}


/*===============header================*/
/*---header_Top---*/
.header_top{height : 45px; line-height:45px; width : 100%; border-bottom : 1px solid #ddd; font-size : 13px;}


/*top-left*/
.header_top span{display:inline-block;}
.header_top .call{padding-right:20px;}
.header_top .mail{padding-left:20px;}

/*top-right*/
.header_top .float_right div{float:left; height:45px;padding : 0 15px;}

.header_top ul{position:relative; top : 20px; opacity : 0; border:1px solid #ccc; border-radius:5px;transition:all .2s ease;overflow : hidden;}
.header_top li{height : 30px; line-height : 30px;padding : 0 15px; background-color : #fff;}

.open ul{opacity: 1; top : 0;}



.header_top .account{}

.header_top .money{}
.header_top .money {}

.header_top .language{}
.header_top .language img{padding-right : 5px;}

/*---haeder_body---*/

.header_body{padding : 40px 0;overflow:hidden;}

.header_body .banner{float:left;}

.header_body .search{}

.header_body .cart{height :50px; width : 200px;padding-left: 0 30px;float:right; line-height :50px; font-size : 15px;}
.header_body .cart span{float :left;font-size: 50px; color:#444; display:inline-block;}
.header_body .cart .cart_text{height : 36px;float :left; display:inline-block; padding-left : 10px; font-weight: bold;}
.header_body .cart .cart_text .text_top{height : 18px;line-height :18px;display:block;padding-top:7px;}
.header_body .cart .cart_text .text_bottom{height : 18px;line-height :18px;display:block;}
.header_body .cart .cart_text .text_bottom span{font-size:15px;line-height :25px;color : orangered;}
/*---header_foot---*/
.header_foot{width : 100%;height : 45px; background-color :royalblue;}



/*===============section================*/

/*======section1======*/

#section1{}


#section2{padding:10px 0;}
/*======section2======*/
.col-md-4{padding:0;}
/*======section3======*/
.sec3_underline{border-bottom:2px solid #666;}

#section3 .sec3_nav{width : 100%;height : 45px;margin-top:10px;}

.sec3_nav p{height:45px; float:left; line-height : 45px; font-size:25px; color:#444; padding-right:5px;}
.sec3_nav .text1{border-bottom:3px solid #2300E7;}
.sec3_nav .text2{border-bottom:3px solid #444;}

.sec3_nav nav{float:right;}
.sec3_nav nav div{float:left;}







































