<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <div class="box">블로그 메인</div>
    <a href="/">메인으로 가기</a>
    <a href="/">메인으로 가기</a>
    <a href="/">메인으로 가기</a>
</body>

</html>