<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title%></title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
</head>

<body>
    
    <script>
    
        $(document).ready(function(){
           
            $.ajax({
                url : '/blog/ajax',
                type : 'GET',
                dataType : 'JSON',
                success : function(data){
                    setTimeout(function(){
                        $('title').text(data.title);
                        $('.red').text(data.title);
                        $('.blue').text(data.title);
                        $('.green').text(data.title);
                    },1000);
                    
                },
                error : function(err){
                    
                }
            });
            
        });
    
    </script>
    
<!--    <% var a=10 %>
    <% if(a>1){%>
        <div class="box_<%=a %>">Main</div>
    <%}%>
    -->
    
    <ul class="nemo">
        <%for(var i=0;i<color.length;i++){%>
            <li class="<%=color[i]%>"></li>
        <%}%>
<!--
        <li class="red"></li>
        <li class="blue"></li>
        <li class="green"></li>
-->
    </ul>
    
    
    
    <a href="/blog">블로그로 가기</a>
</body>

</html>